/* 전체 페이지를 Flexbox로 중앙 정렬 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* 메인 컨테이너 */
.container {
    text-align: center;
    width: 90%; /* 페이지 너비의 90% */
    max-width: 1200px;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 2%;
}

/* 타이틀 스타일 */
.title-container h1 {
    margin: 0;
    font-size: 4vw; /* 뷰포트 너비의 4% */
    color: #333;
}

/* 버튼 컨테이너 Flexbox를 사용하여 가로로 배치 */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

/* 버튼 래퍼 */
.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 20%;
    margin : 3%;
}

/* 이미지 스타일링 */
.button-image, .button-image2 {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* 애니메이션 효과 */
}

.button-wrapper:hover .button-image {
    transform: translateY(-10px); /* 위로 이동 */
}

/* 버튼 스타일링 */
.btn {
    width: 100%;
    padding: 1.5% 0;
    font-size: 2vw; /* 뷰포트 너비의 2% */
    border: none;
    border-radius: 4px;
    color: #FFB22C;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.yellow {
    color: #FFB22C; /* 강조할 텍스트 색상 */
    font-weight: bold; /* 강조할 텍스트의 폰트 두께를 변경 */
}