<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'select.css' %}" />
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1>당신이 궁금한 <span class='yellow'>보험 밸런스</span>는?</h1>
        </div>
        <div class="button-container">
            <div class="button-wrapper">
                <button class="btn" onclick="redirectTo('/myapp/select_count')">
                    <div><h1>자동차/운전자</h1></div>
                </button>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="redirectTo('/myapp/select_count')">
                    <div><h1>다이렉트</h1></div>
                </button>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="redirectTo('/myapp/select_count')">
                    <div><h1>자녀/건강/상해</h1></div>
                </button>
            </div>
        </div>
    </div>
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>